#editor-container {
	position: relative;
	display: inline-block;
	margin: auto;
	width: 400px;
	height: 300px;
	border: 1px solid #5E5E5E
}
#editor-background {
	position: relative;
	top: 50px;
	width: 300px;
	height: 200px;
	margin: auto;
	background-color: #595959;
}